extends base

mixin navItemAccount(link, text, icon, active)
    li(class=`${active ? 'side-nav--active' : ''}`)
        a(href=`${link}`)
            svg
                use(xlink:href=`img/icons.svg#icon-${icon}`)
            | #{text}

block content
    main.main
        .user-view
            nav.user-view__menu
                ul.side-nav
                    +navItemAccount('#', 'Налаштування', 'settings', true)
                    +navItemAccount('/my-orders', 'My Замовлення', 'briefcase', false)
                    +navItemAccount(`/me/reviews/${user.id}`, 'Мої відгуки', 'star', false)
                    +navItemAccount('/billing', 'Історія Платежів', 'credit-card', false)
                - if(user.role === 'admin')
                    .admin-nav
                        h5.admin-nav__heading Admin
                        ul.side-nav
                            +navItemAccount('#', 'Керування продуктами', 'map', false)
                            +navItemAccount('#', 'Керування користувачами', 'users', false)
                            +navItemAccount('#', 'Керування відгуками', 'star', false)
                            +navItemAccount('#', 'Замовлення', 'briefcase', false)
                            +navItemAccount('/adminboard', 'Статистика', 'star', false)



            .user-view__content
                .user-view__form-container.updateCurrentUser
                    h2.heading-secondary.ma-bt-md Особистий Кабінет
                    form.form.form-user-data
                        .form__group
                            label.form__label(for='name') Ім'я
                            input#name.form__input(type='text', value=`${user.name}`, required, name='name')
                        .form__group.ma-bt-md
                            label.form__label(for='email') Email адреса
                            input#email.form__input(type='email', value=`${user.email}`, required, name='email')
                        .form__group.form__photo-upload
                            img.form__user-photo(src=`/img/users/${user.photo}`, alt='User photo')

                            input.form__upload(type= 'file', accept='image/*', id='photo', name='photo')
                            label(for= 'photo') Вибрати нове фото

                        .form__group.right
                            button.btn.btn--small.btn--green.btn--save--userdata Зберегти
                .line &nbsp;
                .user-view__form-container
                    h2.heading-secondary.ma-bt-md Змінити пароль
                    form.form.form-user-settings
                        .form__group
                            label.form__label(for='password-current') Поточний пароль
                            input#password-current.form__input(type='password', placeholder='••••••••', required, minlength='8')
                        .form__group
                            label.form__label(for='password') Новий пароль
                            input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                        .form__group.ma-bt-lg
                            label.form__label(for='password-confirm') Підтвердити пароль
                            input#password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
                        .form__group.right
                            button.btn.btn--small.btn--green.btn--save--password Зберегти
