extends base

block content
    main.main
        .filter-container
            .range-slider
                label(for="minPrice") Мінімальна Ціна
                input(type="range", min="0", max="1000", value="0", class="slider", id="minPrice")
                span#minPriceDisplay.price-display ₴0
            .range-slider
                label(for="maxPrice") Максимальна Ціна
                input(type="range", min="0", max="1000", value="1000", class="slider", id="maxPrice")
                span#maxPriceDisplay.price-display ₴1000

            .sort-filter
                label(for="sortByPrice") Сортувати за:
                select.select-input(name="sortByPrice")
                    option(value="low") Найдешевшими
                    option(value="high") Найдорожчими


                a.btn.btn--green.btn--small(href=`#` id="searchButton" style="margin-left: 20px;") Знайти
        .card-container
            each product in products
                .card
                    .card__header
                        .card__picture
                            .card__picture-overlay &nbsp;
                            img.card__picture-img(src=`/img/products/${product.imageCover}`, alt=`${product.name}`)
                        h3.heading-tertirary
                            span= product.name

                    .card__details
                        h4.card__sub-heading= `${product.calories} калорій, ${product.durationAging}-денний Сир`
                        p.card__text= product.summary
                        .card__data
                            svg.card__icon
                                use(xlink:href='/img/icons.svg#icon-map-pin')
                            span= product.mainStoreLocation.description
                        .card__data
                            svg.card__icon
                                use(xlink:href='/img/icons.svg#icon-calendar')
                            span= `${product.cheeseCreateDates[0].toLocaleString('uk-ua', { month: 'long', year: 'numeric'})}`
                        .card__data
                            svg.card__icon
                                use(xlink:href='/img/icons.svg#icon-flag')
                            span= `${product.storeLocations.length} магазини`
                        .card__data
                            svg.card__icon
                                use(xlink:href='/img/icons.svg#icon-user')
                            span= `${product.weight} грамм`

                    .card__footer
                        p
                            span.card__footer-value= `₴${product.price} `
                            span.card__footer-text за набір
                        p.card__ratings
                            span.card__footer-value= product.ratingsAverage
                            span.card__footer-text= ` рейтинг (${product.ratingsQuantity})`
                        a.btn.btn--green.btn--small(href=`/products/${product.slug}`) Деталі
                        if user
                            a.btn.btn.btn--small.btn--buy#book-tour(data-tour-id=`${product.id}`)
                                img(src='/img/icon-shop.png', style='width: 20px;')