extends base

mixin navItemAccount(link, text, icon, active)
    li(class=`${active ? 'side-nav--active' : ''}`)
        a(href=`${link}`)
            svg
                use(xlink:href=`img/icons.svg#icon-${icon}`)
            | #{text}

block content
    main.main
        .user-view
            nav.user-view__menu
                ul.side-nav
                    +navItemAccount('/me', 'Налаштування', 'settings', false)
                    +navItemAccount('/my-orders', 'Мої Замовлення', 'briefcase', false)
                    +navItemAccount(`/me/reviews/${user.id}`, 'Мої відгуки', 'star', false)
                    +navItemAccount('#', 'Історія Платежів', 'credit-card', true)
                - if(user.role === 'admin')
                    .admin-nav
                        h5.admin-nav__heading Admin
                        ul.side-nav
                            +navItemAccount('#', 'Керування продуктами', 'map', false)
                            +navItemAccount('#', 'Керування користувачами', 'users', false)
                            +navItemAccount('#', 'Керування відгуками', 'star', false)
                            +navItemAccount('#', 'Замовлення', 'briefcase', false)


            .user-view__content
                .user-view__form-container.updateCurrentUser
                    if orders
                        h2.heading-secondary.ma-bt-md Платежі
                        each order in orders
                            .card(style='padding-bottom: 15px')
                                .card__details
                                    h4.card__sub-heading= `Transaction id: ${order.id}`
                                    p.card__text= `Ціна до оплати: ${order.price} грн`
                                    p.card__text= `Назва товару: ${order.product.name}`
                                    p.card__text= `Замовлення зроблено: ${order.createdAt.toLocaleString ('uk-ua', {day: 'numeric',month: 'long',year: 'numeric',hour: 'numeric',minute: 'numeric'})}`

                                .card__billing_footer(style='margin-bottom: 15px; text-align:center;')
                                    h3.billing(style='text-align: left; padding-left: 30px;' ) Статус:
                                    - if(order.paid === true)
                                        h3(style='color: green;') Оплачено
                                        img(src='/img/icon-aprove.png' style='height: 40px')
                                    - else
                                        h3(style='color: red;') Відмова
                                        img(src='/img/icon-delete-hover.png' style='height: 40px')
                    else
                        h2.heading-secondary.ma-bt-md Платежів ще не було, зробіть своє перше замовлення


                .line &nbsp;
                .user-view__form-container
                    h2.heading-secondary.ma-bt-md Написати Адміністратору
                    form.form.form-user-settings
                        .form__group
                            label.form__label(for='password-current') Email: ndatkiy@gmail.com

